.home-picture__image {
	margin-left: auto;
	margin-right: auto;

	width: auto;
	height: auto;

	border-radius: 3%;
}

.information-banner {
	display: flex;
	justify-content: space-around;

	padding: 2%;
}

.information-banner__p {
	max-width: 90%;
}

.survey-form {
	display: flex;
	justify-content: center;
	padding: 10%;
	font-size: larger;
}

.survey-fieldset {
	border: solid 1px #456990;
	padding-right: 10%;
	padding-left: 10%;
}

.survey-fieldset > div > label {
	display: block;
	margin-top: 5%;
	margin-bottom: 5%;
}

.survey-fieldset > div > input {
	width: auto;
	height: auto;

	border: solid 1px #456990;
}

.survey-fieldset > div > textarea {
	width: auto;
	height: auto;

	border: solid 1px #456990;
}

.survey-button {
	font-family: 'Roboto', sans-serif;

	font-size: medium;

	background-color: whitesmoke;

	border: solid 1px #456990;

	margin-top: 10%;

	padding-top: 5%;
	padding-right: 10%;
	padding-bottom: 5%;
	padding-left: 10%;
}

.main-information {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	padding-right: 2%;
	padding-left: 2%;
}

.information-links__a {
	font-size: larger;
	text-decoration: none;
	color: cornflowerblue;
}

.information-links__ul > li {
	padding: 1%;
}

.image-grid {
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr 1fr;
}

.image-grid__div {
	padding: 5%;
}

.image-grid__div > label {
	display: block;
	font-size: large;
	font-weight: 500;

	margin-bottom: 5%;
}

.image-grid__div > a {
	display: inline-block;
}

.image-grid__div > a > img {
	display: block;

	max-width: 100%;
	height: auto;
}
