body {
	font-family: 'Roboto', sans-serif;
	border: solid 4px red;
}

h1 {
	font-size: xx-large;
	font-weight: 700;
}

h2 {
	font-size: larger;
	font-weight: 500;
}

p {
	font-size: medium;
	font-weight: 400;
}

.main {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}
